<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.candango.carcara.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.candango.carcara.intro.Perspective"
            id="org.candango.carcara.perspective">
      </perspective>
      <perspective
            class="org.candango.carcara.perspectives.Carcara"
            icon="icons/releng_gears.gif"
            id="org.candango.carcara.perspectives.Carcara"
            name="Carcara">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.candango.carcara.application"
            name="Carcara Modelling Tool">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.candango.carcara.intro">
      </intro>
      <introProductBinding
            introId="org.candango.carcara.intro"
            productId="org.candango.carcara.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.candango.carcara.intro"
            content="introContent.xml"
            id="org.candango.carcara.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
