<?php
require_once "dao/${table.getName()}/${identifier-name}${table.getEntityName()}AbstractDto.php";

/**
 * This class extends ${identifier-name}${table.getEntityName()}Dto and it is the right
 * place to customize the dto's properies and getters and setters methods.
 * 
 * @package lib.dao.${table.getName()}
 * @author Carcara Modeller Tool Engine
 */
class ${identifier-name}${table.getEntityName()}Dto extends ${identifier-name}${table.getEntityName()}AbstractDto {

}
/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */